<div class="container" ng-controller="BlogController">


<table align="center">
	<tr>
		<td colspan="2"> <center>Enter Blog Info</center></td>
	</tr>
	<tr>
		<td>Blog Name </td>
		<td><input type="text" name="blogname" ng-model="blog.blogname"/></td>
	</tr>
	<tr>
		<td>Blog Content </td>
		<td><textarea cols="40" rows="10" ng-model="blog.blogdesc"/></textarea></td>
	</tr>
	
	<tr>
		<td colspan="2">
			<center>
			<input type="submit" value="Insert Blog" ng-click="AddBlog()"/>
			</center>
		</td>
	</tr>
	
</table>

<table class="table">
	<tr>
		<td>Blog Name </td>
		<td>Blog Content </td>
	</tr>
	<tr ng-repeat="blog in blogdata">
		<td>{{blog.blogname}}</td>
		<td>{{blog.blogdesc}}</td>
	</tr>
</table>


</div>