<div class="container" ng-controller="BlogController">

	<table class="table">
		<tr>
			<td>Blog Name</td>
			<td>Blog Content</td>
		</tr>
		<tr ng-repeat="blog in blogdata">
			<td>{{blog.blogname}}</td>
			<td>{{blog.blogdesc}}</td>
			<td ng-hide="blog.status=='A'"><input type="submit"
				value="Approve" class="btn btn-info" ng-click="approve(blog.blogid)" />
			</td>
			<td ng-hide="blog.status=='NA'"><input type="submit"
				value="Reject" class="btn btn-danger" ng-click="reject(blog.blogid)" />
			</td>

		</tr> 
	</table>

</div>